#1
You open your eyes in a room. You do not know how you got there.
Your Brain hurts, and you barely remember your own name.
Disorientated, you can do little but wonder.
The room only contains a bed. There is a door on the other side
Would you like to (1) Sleep on it or (2) get to the door ?
@1>1, 2>2
#2
You get to the door. 
It has a little window that allow you to look trough.
On the other side there is only a white corridor.
(1) Turn the handle to get out, (2) go back to bed (3) inspect the corridor.
@1>3, 2>1, 3>4
#3
You turn the handle and the door opens.
You get into the corridor. 
Nobody else is visible although you can hear some noise coming from your left.
You can go (right) or (left) or even (test) the other doors.
@right > 5, left > 6, test > 7
#4
Nothing happens.
You just hear a very distant noise from the other side of the door.
Since the door is closed you cannot identify it.
(stay) in or (turn) the handle.
@stay > 4, turn > 3
#5
You go right, away from the noise. 
At the end of the corridor you notice that you can only go left to another corridor.
But there is a bright light at the end of this one.
You run towards it and sure enough, it leads outside.
You might never know where you were r how to get back home,
But no one can keep you locked up. 
@Enter > End
#6
You go left to listen closer to the distant noise.
At the corner of a turn you can hear that it is two people talking.
"It is not as if we have a lot of personel around here anymore...
It feels like ages we did not get the budjet we had the previous year."
"I know, how do you want us to keep track of everything."
"Well..."
"One of those days something is going to happen top one of the patients and they trow the blame onto us, just you wait !"
"Yep, it would probably be another excuse to cut the budjet too."
"Anyways... anything new from the night's shift ?"
"Oh they just brought in a new one, not a lot to do right now. The patient has been stabilized and is deeply sedated."
"Oh, OK. A doctor has set up a visit, or we're on our own as usual ?"
"On our own, but beware : the guy that brough this one in was very happy to get rid of it, I could tell."
"Damn another psycho."
You notice that the sound of their voices is coming nearer
You can (turn) around and go to the other end of the corridor or (show) yourself and meet them.
@turn > 5, show > 8
#7
It is locked.
From the window you notice that they is a person inside. 
She looks weird to you, although you do not know why you get this feeling.
The other doors are also locked and when the rooms are not empty, you get the same feeling about the person inside that you did have for the first"
You can only go (left) or (right)
@left > 6, right > 5
#8
You turn the corner to meet the persons talking.
"Oh ! I must have forgotten to lock the room"
"This is the person that was brough in tonight ?"
"Yes"
You are about to ask a question when the talest of the two shouts :
"PROCEDURE 404 !"
...
...
...
You (wake) up
@wake > 1
$
